:root{
  --bg-color :#800000;
  --color: #fff;
  --font-logo: 40px;
  --border-color: #000;
  
}
* {
  margin: 0;
  padding: 0%;
}
 /*Header*/
.header {
  background: var(--bg-color);
  display: flex;
  width: 100%;
  height: auto;
  line-height: 50px;
}
/*My Picture*/
.photo{
  width:70px;
  clip-path: circle();
  margin-top: -8px;
  margin-left: 2px;
}
/*Logo*/
.logo {
  color: var(--color);
  font-size: var(--font-logo);
  padding: 18px;
  background-color: black;
  margin: 10px 0;
}
/* nav-menu */
.menu {
  flex: 3px;
}

.menu ul {
  display: flex;
  margin-top: 30px;
  list-style: none;
  flex-flow: row wrap;
}

.menu ul li {
  flex: 1;
  text-align: center;
}

.menu ul li a {
  color: var(--color);
  font-size: 20px;
  text-decoration: none;
  
}
.menu ul li a:hover{
  color: slategrey;
}
/* Nav End */


/* Hero Section */
.hero {
  background-image: url(../image/hero.jpeg);
  width: 100%;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.hero-content {
  background: var(--bg-color);
  width: 15%;
  height: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  animation: border 2s infinite alternate; 
}

.hero-content h2 {
  font-size: 25px;
  margin: 0 auto;
  color: var(--color);
}

/* Hero Section End */

/* Main-Content */
.main-content {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}

.aboutme-logo {
  font-size: 50px;
  font-weight: bold;
  border-right: 3px solid var(--border-color);
  flex: 1;
  text-align: end;
  padding-right: 10px;
}

p {
  flex: 3;
  font-size: 1.3em;
  font-family: "Times New Roman", Times, serif;
  padding: 14px auto;
  line-height: 25px;
  margin-left: 20px;
  padding-right: 20px;
}
/* End */

/*Start Container */
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.work-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.work-logo {
  font-size: 50px;
  font-weight: bold;
  border-right: 3px solid var(--border-color);
  width: 24%;
  text-align: end;
  padding-right: 10px;
}
/*End */

/*box Hover */
.box{
  transition: 1s;
}

.box:hover{
  transform: scale(1.1);
}
/* End */


/* Box1 */
.box1 {
  border: 2px solid var(--border-color);
  width: 73%;
  height: 400px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.box1-img{
  width: 100%;
  height: 396px;
  
}

.box1-2 {
  border: 2px solid var(--border-color);
  width: 73%;
  height: 400px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 20px;
}
.box1-2-img{
  width: 100%;
  height: 396px;
  
}
a{
  width: 100%;
}

.work-heading1 {
  background: var(--bg-color);
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  position: absolute;
}
.work-heading1 h5 {
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
}
/* End */

/*Box2*/
.box2 {
  border: 2px solid var(--border-color);
  width: 35%;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: end;
  transition: 1s;
}
.box2-img{
  width: 100%;
  height: 97px;

}

.work-heading2 {
  background-color: var(--bg-color);
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: absolute;
}
.work-heading2 h5 {
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
/* End */

/*Box3*/
.box3 {
  border: 2px solid var(--border-color);
  width: 35%;
  height: 100px;
  margin-left: 25px;
  margin-top: 20px;
  display: flex;
  align-items: end;
}
.box3-img{
  width: 100%;
  height: 97px;

}
.work-heading3 {
  background-color: var(--bg-color);
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: absolute;
}
.work-heading3 h5 {
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
}
/* End */

/*Box5 start */

.box4 {
  border: 2px solid var(--border-color);
  width: 35%;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: end;
}
.box4-img{
  width: 100%;
  height: 97px;

}
.work-heading4 {
  background-color: var(--bg-color);
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
}
.work-heading4 h5 {
  font-size: 15px;
  color: var(--color);
  margin: 0 auto;
}
/* End */


/* Box5 */
.box5 {
  border: 2px solid var(--border-color);
  width: 36%;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: end;
}
.box5-img{
  width: 100%;
  height: 97px;

}
.work-heading5 {
  background-color: var(--bg-color);
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
}
.work-heading5 h5 {
  font-size: 15px;
  color:var(--color);
  margin: 0 auto;
}

/* End */

/* Footer */
.footer-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  background-color: var(--bg-color);
}

.footer-heading {
  font-size: 50px;
  font-weight: bold;
  border-right: 3px solid var(--border-color);
  width: 24%;
  text-align: end;
  padding-right: 10px;
}

.footer-menu {
  flex: 3px;
}

.footer-menu ul {
  display: flex;
  margin-top: 30px;
  list-style: none;
  flex-flow: row wrap;
}

.footer-menu ul li {
  flex: 1;
  text-align: center;
}

.footer-menu ul li a {
  color: var(--color);
  font-size: 20px;
  text-decoration: none;
}
/* End */


@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    padding: 18px 0 0;
    margin-top: 0;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 0;
  }
  .menu ul li {
    padding: 5px;
  }

  .main-content {
    flex-direction: column;
  }

  .hero-content {
    background: var(--bg-color);
    width: 30%;
    height: 50px;
  }

  .hero-content h2 {
    font-size: 5px;
    margin: 0 auto;
  }
  .aboutme-logo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    margin: 0 auto;
    border-right: none;
  }
  p {
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    line-height: 25px;
    margin: 14px auto;
    line-height: 30px;
  }
}

/* Adding Animation, have found in w3school */
@keyframes border  {
  0% { border-radius: 0% ;}
  100% { border-radius : 50%; background-color:paleturquoise ; color:var(--color); }
  
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    padding: 18px 0 0;
    margin-top: 0;
    font-size: 50px;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 0;
  }
  .menu ul li {
    padding: 5px;
  }

  .main-content {
    flex-direction: column;
  }
  .hero-content {
    background: var(--bg-color);
    width: 30%;
    height: 50px;
    margin-right: 51px;
  }

  .hero-content h2 {
    font-size: 20px;
    margin: 0 auto;
  }

  .aboutme-logo {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    margin: 0 auto;
    border-right: none;
  }
  p {
    font-size: 25px;
    padding: 20px 20px;
    line-height: 25px;
    margin: 14px auto;
    line-height: 35px;
  }
  .work-logo {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin: 10px auto 50px auto;
  }
  .box1 {
    border: 3px solid var(--border-color);
    width: 100%;
    margin: 10px 10px;
  }
  .box1-2 {
    border: 3px solid var(--border-color);
    width: 100%;
    margin: 10px 10px;
  }

  .box2 {
    border: 3px solid var(--border-color);
    width: 100%;
    height: 200px;
    margin: 10px 10px;
  }
  .box3 {
    border: 3px solid var(--border-color);
    width: 100%;
    height: 200px;
    margin: 10px 10px;
  }

  .box4 {
    border: 3px solid var(--border-color);
    width: 100%;
    height: 200px;
    margin: 10px 10px;
  }
  .box5 {
    border: 3px solid var(--border-color);
    width: 100%;
    height: 200px;
    margin: 10px 10px;
  }

  .work-heading2 {
    width: 20%;
    border: 3px solid var(--border-color);
  }
  .work-heading3 {
    width: 20%;
    border: 3px solid var(--border-color);
  }

  .work-heading4 {
    width: 30%;
    border: 3px solid black;
  }

  .work-heading5 {
    width: 20%;
    border: 3px solid var(--border-color);
  }

  .footer-content {
    display: flex;
    margin-top: 40px;
    background-color: var(--bg-color);
  }

  .footer-heading {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    padding-right: 10px;
  }

  .footer-heading h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
    text-decoration: underline;
  }
  .footer-menu ul {
    flex-direction: column;
    margin-top: 0;
    
  }
  .footer-menu ul li {
    padding: 5px;
    padding: 10px;
  }


.box2-img{
  width: 100%;
  height: 196px;

}
.box3-img{
  width: 100%;
  height: 196px;

}
.box4-img{
  width: 100%;
  height: 196px;

}
.box5-img{
  width: 100%;
  height: 196px;

}
.photo{
  margin:auto;

}
}
