:root{
    --background-color: #800000;
    

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Times New Roman', Times, serif;
}

.mainHead{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sub-head{
    
    width: 460px;
}
.photo{
    margin-top: 10px;
}
.mainHead h1{
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    background-color: #7fffd4;
    margin: 10px 0 10px 0;
    width:330px;
    animation: simple 1s infinite;
    animation-direction: alternate;
}
.photo{
   width: 70px;
   height: 70px;
   clip-path: circle();
   float: right;

}

.navBar{
   padding: 20px;
}
.navBar ul{
    display: flex;
    
}

.navBar ul li {
    padding-right: 50px;
    list-style: none;
    font-size: 26px;
    
    
}
.navBar ul li a {
    color: #7fffd4;
    text-decoration-style: solid;
    font-size: 22px;
    transition: height,background 0s,1s,1s;

      
}

.navBar ul li a:hover{
    background-color:darkgray;

}

.hero{
    background-image: url('../images/white-technology-background-circuit-diagrams_115579-1036.jpeg');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
   
}
   
.hero h2{
    float: right;
    background-color:blanchedalmond;
    width: 25%;
    height:70px;
    margin: 200px 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: border 2s infinite alternate; 
    
}

.about-Me-content{
    display: flex;
    margin-top: 20px;
}
.about-Me-content h1{
    width: 30%;
    padding: 0 10px 20px 20px;
    text-align: right;
    font-size: 50px;
    border-right:2px solid black;
    
}
.about-Me-content p{
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 20px 20px 20px;
   
}


.container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.container .aside-content{
    width:30%;
    font-size: 50px;
    text-align: right;
    border-right:2px solid black;
    padding: 0 10px 20px 20px;
   
}
.artical-content{
    width: 100%;
}
.artical-content .box1{
    background-color: #800000;
}



























 
@keyframes border  {
    0% { border-radius: 0% ;}
    100% { border-radius : 50%; background-color: var(--background-color) ; color: #ffff; }
    
}


@keyframes simple {
    0% { background: #7fffd4 ; width: 335px;}
    50% { background: green ; width: 350px ;}
    100% { background-color: slategray ; width:360x;

}




